<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
    <key>GIDClientID</key>
    <string>36318724422-hbqlqt43bcs4qb81i3f872l7dh2hphvv.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.36318724422-hbqlqt43bcs4qb81i3f872l7dh2hphvv</string> <!-- Your actual client ID, excluding `.apps.googleusercontent.com` -->
            </array>
        </dict>
    </array>
</dict>
</plist>
